@model System.Data.DataTable
@using System.Data
@using System.Data.SqlClient
@{
    ViewBag.Title = "İrsaliye";
}

<div>
    <h3>Gönderilmiş e-İrsaliye</h3>
    <hr /><br />
    <div class="container">
        @using (Html.BeginForm("Outboxda", "Outboxda", FormMethod.Get))
        {
        <div class="row g-3">
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px;" class="input-group-text" id="basic-addon1">Alıcı VKN: &emsp;</span>
                    <input style="width: 75%;" type="text" class="form-control" name="receiver_vn" aria-label="receiver_vn" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; white-space: nowrap;" class="input-group-text" id="basic-addon1">Alıcı Adı:</span>
                    <input style="width: 75%;" type="text" class="form-control" name="receiver" aria-label="receiver" aria-describedby="basic-addon1">
                </div>
            </div>


            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; white-space: nowrap;" class="input-group-text" id="basic-addon1">Gönderen VKN:</span>
                    <input style="width: 75%;" type="text" class="form-control" name="sender_vn" aria-label="sender_vn" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; white-space: nowrap;" class="input-group-text" id="basic-addon1">Gönderen Adı:</span>
                    <input style="width: 75%;" type="text" class="form-control" name="sender" aria-label="sender" aria-describedby="basic-addon1">
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px;" class="input-group-text" id="basic-addon1">İrsaliye No: &emsp;</span>
                    <input style="width: 75%;" type="text" class="form-control" name="number" aria-label="number" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px; white-space: nowrap;" class="input-group-text" name="issue_date" id="basic-addon1">İrsaliye Tarihi: &emsp;</span>
                    <input style="width: 37%; border-color: #cccccc; border-style:solid; border-width:thin; " type="date" id="start" name="trip-start"
                           value="@DateTime.Now.AddMonths(-1).ToString("yyyy-MM-dd")"
                           min="2018-01-01" max="2021-12-31"> &nbsp;
                    <input style="width: 37%; border-color: #cccccc; border-style: solid; border-width: thin; " type="date" id="start" name="trip-start"
                           value="@DateTime.Now.ToString("yyyy-MM-dd")"
                           min="2018-01-01" max="2021-12-31">
                </div>
            </div>

            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px;" class="input-group-text" id="basic-addon1">Belge Tipi: &emsp;</span>
                    <select style="width: 75%; height: 35px; border-color: #cccccc; " class="form-select" name="type" aria-label="type">
                        <option selected>TÜMÜ</option>
                        <option value="SEVK">SEVK</option>
                        <option value="SATIS">SATIŞ</option>
                        <option value="IADE">İADE</option>
                        <option value="ISTISNA">İSTİSNA</option>
                        <option value="TEVKIFAT">TEVKİFAT</option>
                        <option value="OZELMATRAH">ÖZEL MATRAH</option>
                        <option value="IHRACKAYITLI">İHRAÇ KAYITLI</option>
                    </select>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px;" class="input-group-text" id="basic-addon1">Senaryo: &emsp;</span>
                    <select style="width: 75%; height: 35px; border-color: #cccccc; " class="form-select" name="profile" aria-label="profile">
                        <option selected>TÜMÜ</option>
                        <option value="TEMELFATURA">TEMEL FATURA</option>
                        <option value="TICARIFATURA">TİCARİ FATURA</option>
                        <option value="IHRACAT">İHRACAT</option>
                        <option value="YOLCUBERABERFATURA">YOLCU BERABER FATURA</option>
                        <option value="HKS">HKS</option>
                        <option value="TEMELIRSALIYE">TEMEL iRSALIYE</option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="input-group mb-2">
                    <span style="padding-top: 6px; padding-bottom: 6px; width: 120px; height: 35px;" class="input-group-text" id="basic-addon1">GIB Durumu: &emsp;</span>
                    <input style="width: 75%;" type="text" class="form-control" name="gib_status" aria-label="gib_status" aria-describedby="basic-addon1">
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <button style="padding-right: 30px; padding-left: 30px; width: 150px; margin-left:39%; margin-right:50%; " type="submit" class="btn btn-dark">Sorgula</button>
            </div>
        </div>
        }
    </div>
    <hr />
    @*------------------------------------------------------------*@

    <div style="margin-top:20px;" class="limiter">
        <div class="container-table100">
            <div class="wrap-table100">
                <div style="overflow-x:auto;" class="table100">
                    <table>
                        <thead>
                            <tr class="table100-head">
                                <th class="column"><input id="select-all" type="checkbox"></th>
                                <th class="column">İrsaliye No</th>
                                <th class="column">İrsaliye Tarih</th>
                                <th class="column">Gönderen VKN</th>
                                <th class="column">Gönderen Adı</th>
                                <th class="column">Alıcı VKN</th>
                                <th class="column">Alıcı Adı</th>
                                <th class="column">Tip</th>
                                <th class="column">Senaryo</th>
                                <th class="column">GIB Durumu</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow dr in Model.Rows)
                            {
                                <tr>
                                    <td class="column"><input name="sec" type="checkbox"></td>
                                    <td class="column">@dr["number"].ToString()</td>
                                    <td class="column">@dr["issue_date"].ToString()</td>
                                    <td class="column">@dr["sender_vn"].ToString()</td>
                                    <td class="column">@dr["sender"].ToString()</td>
                                    <td class="column">@dr["receiver_vn"].ToString()</td>
                                    <td class="column">@dr["receiver"].ToString()</td>
                                    <td class="column">@dr["type"].ToString()</td>
                                    <td class="column">@dr["profile"].ToString()</td>
                                    <td class="column">@dr["gib_status"].ToString()</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                @ViewBag.TotalResults <label>sonuç bulundu.</label>
            </div>
        </div>
    </div>

    @*----------------------------------------------------------*@
</div>

<script>
    document.getElementById('select-all').onclick = function () {
        var checkboxes = document.getElementsByName('sec');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>